#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container1 {
  background-color: rgb(165, 170, 165);
  border-radius: 6px;
  padding: 8px;
  padding-left: 29px;
  padding-right: 29px;
}

.container2 {
  background-color: rgb(109, 221, 155);
  border-radius: 6px;
  padding: 8px;
  padding-left: 29px;
  padding-right: 29px;
  margin-top: 18px;
}

.header1 {
  background-color: antiquewhite;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: rgb(246, 77, 77);
}

.header2 {
  background-color: rgb(182, 191, 190);
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  color: rgb(49, 117, 243);
}
